<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="assets/styles.css" />
    {% if title == "Home" %}
      <title> Jonathan Christian </title>
    {% else %}
      <title> {{title }} | Jonathan Christian</title>
    {% endif %}
  </head>
  <body>
    <header>
      <h1>Jonathan Christian</h1>
      <nav>
        <ul>
          <li><a href="index">Home</a></li>
          <li><a href="now">Now</a></li>
          <li><a href="projects">Projects</a></li>
          <li><a href="uses">Uses</a></li>
          <li><a href="blog">Blog</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {% unless title == "Home" or title == "Blog" %}
        <h1>{{ title }}</h1>
      {% endunless %}

      {% if date %}
        <h3>{{ date }}</h3>
      {% endif %}
      
      {{ content }}
    </main>
    <footer>
      <p>&copy; {{ "now" | date: "%Y" }} Jonathan Christian. <a href="#">Subscribe via email</a> for new post notifications.</p>
    </footer>
  </body>
</html> 